In [355]:
import pandas as pd
import datetime as dt
import numpy as np

In [356]:
Stockheadlines=pd.read_csv("Data.csv",encoding= 'ISO-8859-1')

In [357]:
Stockheadlines.head(2)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite

In [358]:
Stockheadlines.dtypes

Date     object
Label     int64
Top1     object
Top2     object
Top3     object
Top4     object
Top5     object
Top6     object
Top7     object
Top8     object
Top9     object
Top10    object
Top11    object
Top12    object
Top13    object
Top14    object
Top15    object
Top16    object
Top17    object
Top18    object
Top19    object
Top20    object
Top21    object
Top22    object
Top23    object
Top24    object
Top25    object
dtype: object

In [359]:
Stockheadlines.describe(include='O')

,Date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
count,4101,4101,4101,4101,4101,4101,4101,4101,4101,4101,...,4101,4101,4101,4101,4101,4101,4101,4100,4098,4098
unique,4101,4074,4082,4081,4087,4070,4075,4078,4080,4085,...,4083,4077,4082,4078,4078,4077,4078,4072,4078,4066
top,2008-09-17,UK news in brief,Round-up,Corrections and clarifications,Corrections and clarifications,Round-up,Corrections and clarifications,Corrections and clarifications,Round-up,Corrections and clarifications,...,Scoreboard,Round-up,Round-up,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Radio pick of the day,Corrections and clarifications,Corrections and clarifications
freq,1,6,4,5,3,4,4,6,3,8,...,3,4,7,7,6,6,8,5,9,6

In [360]:
Stockheadlines.isnull().sum()

Date     0
Label    0
Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    1
Top24    3
Top25    3
dtype: int64

In [361]:
Stockheadlines.shape

(4101, 27)

In [362]:
train=Stockheadlines[Stockheadlines['Date']<'20150101']
test=Stockheadlines[Stockheadlines['Date']>'20141231']

In [363]:
index=list(train.columns)
index=index[2:]
index

['Top1',
 'Top2',
 'Top3',
 'Top4',
 'Top5',
 'Top6',
 'Top7',
 'Top8',
 'Top9',
 'Top10',
 'Top11',
 'Top12',
 'Top13',
 'Top14',
 'Top15',
 'Top16',
 'Top17',
 'Top18',
 'Top19',
 'Top20',
 'Top21',
 'Top22',
 'Top23',
 'Top24',
 'Top25']

In [364]:
for i in index:
    train[i]=train.loc[:,i].str.lower()
    #train[i]=train[i].lower()

c:\users\adity\anaconda3\envs\stockprice\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [365]:
train.head(3)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,a 'hindrance to operations': extracts from the...,scorecard,hughes' instant hit buoys blues,jack gets his skates on at ice-cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl's successor drawn into scandal,the difference between men and women,"sara denver, nurse turned solicitor",diana's landmine crusade put tories in a panic,yeltsin's resignation caught opposition flat-f...,russian roulette,sold out,recovering a title
1,2000-01-04,0,scorecard,the best lake scene,leader: german sleaze inquiry,"cheerio, boyo",the main recommendations,has cubie killed fees?,has cubie killed fees?,has cubie killed fees?,...,on the critical list,the timing of their lives,dear doctor,irish court halts ira man's extradition to nor...,burundi peace initiative fades after rebels re...,pe points the way forward to the ecb,campaigners keep up pressure on nazi war crime...,jane ratcliffe,yet more things you wouldn't know without the ...,millennium bug fails to bite
2,2000-01-05,0,coventry caught on counter by flo,united's rivals on the road to rio,thatcher issues defence before trial by video,police help smith lay down the law at everton,tale of trautmann bears two more retellings,england on the rack,pakistan retaliate with call for video of walsh,cullinan continues his cape monopoly,...,south melbourne (australia),necaxa (mexico),real madrid (spain),raja casablanca (morocco),corinthians (brazil),tony's pet project,al nassr (saudi arabia),ideal holmes show,pinochet leaves hospital after tests,useful links

In [366]:
test.head(3)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
3723,2015-01-02,1,Most cases of cancer are the result of sheer b...,Iran dismissed United States efforts to fight ...,Poll: One in 8 Germans would join anti-Muslim ...,UK royal family's Prince Andrew named in US la...,Some 40 asylum-seekers refused to leave the bu...,Pakistani boat blows self up after India navy ...,Sweden hit by third mosque arson attack in a week,940 cars set alight during French New Year,...,Ukrainian minister threatens TV channel with c...,Palestinian President Mahmoud Abbas has entere...,Israeli security center publishes names of 50 ...,The year 2014 was the deadliest year yet in Sy...,A Secret underground complex built by the Nazi...,Restrictions on Web Freedom a Major Global Iss...,Austrian journalist Erich Mchel delivered a pr...,Thousands of Ukraine nationalists march in Kiev,Chinas New Years Resolution: No More Harvestin...,Authorities Pull Plug on Russia's Last Politic...
3724,2015-01-05,0,Moscow-&gt;Beijing high speed train will reduc...,Two ancient tombs were discovered in Egypt on ...,China complains to Pyongyang after N Korean so...,Scotland Headed Towards Being Fossil Fuel-Free...,Prime Minister Shinzo Abe said Monday he will ...,Sex slave at centre of Prince Andrew scandal f...,Gay relative of Hamas founder faces deportatio...,The number of female drug addicts in Iran has ...,...,The Islamic State has approved a 2015 budget o...,"Iceland To Withdraw EU Application, Lift Capit...",Blackfield Capital Founder Goes Missing: The v...,Rocket stage crashes back to Earth in rural Ch...,2 Dead as Aircraft Bombs Greek Tanker in Libya...,Belgian murderer Frank Van Den Bleeken to die ...,Czech President criticizes Ukrainian PM; says ...,3 Vietnamese jets join search for 16 missing F...,France seeks end to Russia sanctions over Ukraine,China scraps rare earths caps
3725,2015-01-06,0,US oil falls below $50 a barrel,"Toyota gives away 5,680 fuel cell patents to b...",Young Indian couple who had been granted polic...,A senior figure in Islamic States self-declare...,Fukushima rice passes radiation tests for 1st ...,Nearly all Spanish parties guilty of financial...,King Abdullah to abdicate Saudi Throne,Taliban Commander Caught Networking On LinkedIn,...,Thousands of Indians have fled from their home...,Turkey sacks judges who oversaw Erdogan corrup...,SpaceX Falcon 9 launch and recovery has been a...,CNN: Americans charged in botched Gambia coup,Islamic State 'Police' Official Beheaded.,Libya bans Palestinians from country to preven...,A judicial inquiry was opened in France on Mon...,Video has captured the moment a cameraman was ...,Syria has complained to the United Nations tha...,"Tests over, India set to make the iris of bigg..."

In [367]:
for i in index:
    test[i]=test.loc[:,i].str.lower()

c:\users\adity\anaconda3\envs\stockprice\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [368]:
test.head(4)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
3723,2015-01-02,1,most cases of cancer are the result of sheer b...,iran dismissed united states efforts to fight ...,poll: one in 8 germans would join anti-muslim ...,uk royal family's prince andrew named in us la...,some 40 asylum-seekers refused to leave the bu...,pakistani boat blows self up after india navy ...,sweden hit by third mosque arson attack in a week,940 cars set alight during french new year,...,ukrainian minister threatens tv channel with c...,palestinian president mahmoud abbas has entere...,israeli security center publishes names of 50 ...,the year 2014 was the deadliest year yet in sy...,a secret underground complex built by the nazi...,restrictions on web freedom a major global iss...,austrian journalist erich mchel delivered a pr...,thousands of ukraine nationalists march in kiev,chinas new years resolution: no more harvestin...,authorities pull plug on russia's last politic...
3724,2015-01-05,0,moscow-&gt;beijing high speed train will reduc...,two ancient tombs were discovered in egypt on ...,china complains to pyongyang after n korean so...,scotland headed towards being fossil fuel-free...,prime minister shinzo abe said monday he will ...,sex slave at centre of prince andrew scandal f...,gay relative of hamas founder faces deportatio...,the number of female drug addicts in iran has ...,...,the islamic state has approved a 2015 budget o...,"iceland to withdraw eu application, lift capit...",blackfield capital founder goes missing: the v...,rocket stage crashes back to earth in rural ch...,2 dead as aircraft bombs greek tanker in libya...,belgian murderer frank van den bleeken to die ...,czech president criticizes ukrainian pm; says ...,3 vietnamese jets join search for 16 missing f...,france seeks end to russia sanctions over ukraine,china scraps rare earths caps
3725,2015-01-06,0,us oil falls below $50 a barrel,"toyota gives away 5,680 fuel cell patents to b...",young indian couple who had been granted polic...,a senior figure in islamic states self-declare...,fukushima rice passes radiation tests for 1st ...,nearly all spanish parties guilty of financial...,king abdullah to abdicate saudi throne,taliban commander caught networking on linkedin,...,thousands of indians have fled from their home...,turkey sacks judges who oversaw erdogan corrup...,spacex falcon 9 launch and recovery has been a...,cnn: americans charged in botched gambia coup,islamic state 'police' official beheaded.,libya bans palestinians from country to preven...,a judicial inquiry was opened in france on mon...,video has captured the moment a cameraman was ...,syria has complained to the united nations tha...,"tests over, india set to make the iris of bigg..."
3726,2015-01-07,1,'shots fired' at french magazine hq,90% of bibi netanyahus campaign funds from u.s.,isis behead street magician for entertaining c...,denmark sets new world record in renewable ene...,"isis closes schools in syria, leaving 670000 c...",the european union wants turkey to explain how...,10 people have died in a shooting at the headq...,most earth-like planet ever discovered could b...,...,discovery of witnesss mutilated body feeds cla...,radical islam a growing threat to sub-saharan ...,tony blair may 'face war crime charges' over i...,benjamin netanyahu says settlements unlikely t...,tasmania moves to allow corporations to sue pr...,indonesia search chief: tail section of airasi...,"north korean defector: ""bureau 121"" hackers lo...",female suicide bomber attacks police station i...,is to turn syria schools into religious indoct...,ebola vaccine trials in halifax so far a success

In [369]:
data=train.iloc[:,2:27]

In [370]:
data=data.replace("[^A-Za-z]"," ",regex=True)

In [371]:
data.head(3)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,a hindrance to operations extracts from the...,scorecard,hughes instant hit buoys blues,jack gets his skates on at ice cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar s debut double,southgate strikes leeds pay the penalty,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl s successor drawn into scandal,the difference between men and women,sara denver nurse turned solicitor,diana s landmine crusade put tories in a panic,yeltsin s resignation caught opposition flat f...,russian roulette,sold out,recovering a title
1,scorecard,the best lake scene,leader german sleaze inquiry,cheerio boyo,the main recommendations,has cubie killed fees,has cubie killed fees,has cubie killed fees,hopkins furious at foster s lack of hannibal...,has cubie killed fees,...,on the critical list,the timing of their lives,dear doctor,irish court halts ira man s extradition to nor...,burundi peace initiative fades after rebels re...,pe points the way forward to the ecb,campaigners keep up pressure on nazi war crime...,jane ratcliffe,yet more things you wouldn t know without the ...,millennium bug fails to bite
2,coventry caught on counter by flo,united s rivals on the road to rio,thatcher issues defence before trial by video,police help smith lay down the law at everton,tale of trautmann bears two more retellings,england on the rack,pakistan retaliate with call for video of walsh,cullinan continues his cape monopoly,mcgrath puts india out of their misery,blair witch bandwagon rolls on,...,south melbourne australia,necaxa mexico,real madrid spain,raja casablanca morocco,corinthians brazil,tony s pet project,al nassr saudi arabia,ideal holmes show,pinochet leaves hospital after tests,useful links

In [372]:
data1=test.iloc[:,2:27]
data1=data1.replace("[^A-Za-z]"," ",regex=True)

In [373]:
data1.head(2)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
3723,most cases of cancer are the result of sheer b...,iran dismissed united states efforts to fight ...,poll one in germans would join anti muslim ...,uk royal family s prince andrew named in us la...,some asylum seekers refused to leave the bu...,pakistani boat blows self up after india navy ...,sweden hit by third mosque arson attack in a week,cars set alight during french new year,salaries for top ceos rose twice as fast as av...,norway violated equal pay law judge says jud...,...,ukrainian minister threatens tv channel with c...,palestinian president mahmoud abbas has entere...,israeli security center publishes names of ...,the year was the deadliest year yet in sy...,a secret underground complex built by the nazi...,restrictions on web freedom a major global iss...,austrian journalist erich mchel delivered a pr...,thousands of ukraine nationalists march in kiev,chinas new years resolution no more harvestin...,authorities pull plug on russia s last politic...
3724,moscow gt beijing high speed train will reduc...,two ancient tombs were discovered in egypt on ...,china complains to pyongyang after n korean so...,scotland headed towards being fossil fuel free...,prime minister shinzo abe said monday he will ...,sex slave at centre of prince andrew scandal f...,gay relative of hamas founder faces deportatio...,the number of female drug addicts in iran has ...,after decades of searching the causeway for t...,india lost tigers in,...,the islamic state has approved a budget o...,iceland to withdraw eu application lift capit...,blackfield capital founder goes missing the v...,rocket stage crashes back to earth in rural ch...,dead as aircraft bombs greek tanker in libya...,belgian murderer frank van den bleeken to die ...,czech president criticizes ukrainian pm says ...,vietnamese jets join search for missing f...,france seeks end to russia sanctions over ukraine,china scraps rare earths caps

In [374]:
headlines=[]
for i in range(0,len(data)):
    X=" ".join(str(x) for x in data.iloc[i,:])
    headlines.append(X)

In [375]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

In [376]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [377]:
## implement BAG OF WORDS
countvector=CountVectorizer(ngram_range=(2,2))

In [378]:
TFIDF=TfidfVectorizer(ngram_range=(2,2))

In [379]:
traindataset=countvector.fit_transform(headlines)

In [256]:
traindataset=TFIDF.fit_transform(headlines)

In [307]:
##GridSearchCV and RandomisedSearchCV
estimators=[int(i) for i in np.linspace(200,800,6)]
#max_depth=[int(i) for i in np.linspace(5,9,5)]

In [308]:
randf=RandomForestClassifier()

In [383]:
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
mod=RandomizedSearchCV(randf,verbose=1,cv=5,random_state=20,n_jobs=-1,param_distributions={'n_estimators':estimators})

In [302]:
mod1=GridSearchCV(randf,verbose=1,cv=5,n_jobs=-1,param_grid={})

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1, param_grid={},
             verbose=1)

In [ ]:
mod.fit(traindataset,train['Label'])

c:\users\adity\anaconda3\envs\stockprice\lib\site-packages\sklearn\model_selection\_search.py:282: UserWarning: The total space of parameters 6 is smaller than n_iter=10. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 5 folds for each of 6 candidates, totalling 30 fits

In [312]:
data1=data1.reset_index(drop=True)

In [315]:
data1.head(2)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,most cases of cancer are the result of sheer b...,iran dismissed united states efforts to fight ...,poll one in germans would join anti muslim ...,uk royal family s prince andrew named in us la...,some asylum seekers refused to leave the bu...,pakistani boat blows self up after india navy ...,sweden hit by third mosque arson attack in a week,cars set alight during french new year,salaries for top ceos rose twice as fast as av...,norway violated equal pay law judge says jud...,...,ukrainian minister threatens tv channel with c...,palestinian president mahmoud abbas has entere...,israeli security center publishes names of ...,the year was the deadliest year yet in sy...,a secret underground complex built by the nazi...,restrictions on web freedom a major global iss...,austrian journalist erich mchel delivered a pr...,thousands of ukraine nationalists march in kiev,chinas new years resolution no more harvestin...,authorities pull plug on russia s last politic...
1,moscow gt beijing high speed train will reduc...,two ancient tombs were discovered in egypt on ...,china complains to pyongyang after n korean so...,scotland headed towards being fossil fuel free...,prime minister shinzo abe said monday he will ...,sex slave at centre of prince andrew scandal f...,gay relative of hamas founder faces deportatio...,the number of female drug addicts in iran has ...,after decades of searching the causeway for t...,india lost tigers in,...,the islamic state has approved a budget o...,iceland to withdraw eu application lift capit...,blackfield capital founder goes missing the v...,rocket stage crashes back to earth in rural ch...,dead as aircraft bombs greek tanker in libya...,belgian murderer frank van den bleeken to die ...,czech president criticizes ukrainian pm says ...,vietnamese jets join search for missing f...,france seeks end to russia sanctions over ukraine,china scraps rare earths caps

In [314]:
test_headlines=[]
for i in range(0,len(data1)):
    X=" ".join(str(x) for x in data1.iloc[i,:])
    test_headlines.append(X)

In [316]:
testdataset=TFIDF.transform(test_headlines)

In [317]:
predictions=mod.predict(testdataset)

***Performance of the model***

In [318]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(predictions,test['Label'])

In [319]:
cm

array([[  2,   0],
       [184, 192]], dtype=int64)

In [320]:
accuracy_score(predictions,test['Label'])

0.5132275132275133

In [321]:
Report=classification_report(predictions,test['Label'])
print(Report)

              precision    recall  f1-score   support

           0       0.01      1.00      0.02         2
           1       1.00      0.51      0.68       376

    accuracy                           0.51       378
   macro avg       0.51      0.76      0.35       378
weighted avg       0.99      0.51      0.67       378